/* position blocks */
header {
   position: fixed;
   float: left;
   background-color: lightblue;
   height:  70px;
   width: 100%;
   z-index: 4;
   margin-top:   -10px;
  /* border: 1px solid #000; */
 }

 table, th, td {
  /*    border: 1px solid black; */
     border-collapse: collapse;
 }

 table {
    width: 100%;
}

th {
    height: 68px;
}
th#a {
    width: 10%;
    text-align: right;
}

th#b {
    width: 10%;
}

th#c {
    width: 50%;
}

#search {
  /* устанавливаем ширину формы,
  ** равную ширине поля ввода (183 + 37 + 15)	*/
  width: 235px;
  height: 29px;
}

/* делаем инпуты плавающими, чтобы убрать лишние отступы,
** и отключаем бордюры */
#search input {
  float: left;
  border: none;
}

/* стили для поля ввода */
#search .input {
  width: 183px;
  height: 28px;
  /* внутренний отступ справа (37px) делаем больше левого,
  ** т.к. там будет размещена кнопка отправки	*/
  padding: 0 37px 1px 15px;
  background: #EEE url(https://lh4.googleusercontent.com/-EllJnywnmlY/UAaKJYSYYMI/AAAAAAAABUU/IaRo-yUcRmc/s235/search.png) no-repeat;
  color: #555;
  font: 13px/28px Tahoma, Arial, sans-serif;
  outline: none;
}

/* приходится использовать хак для FireFox
** для вертикального выравнивания текста,
** т.к. у него свои особые представления об этом */
@-moz-document url-prefix() {
  #search .input {
    height: 27px;
    padding-bottom: 2px;
  }
}

/* меняем оформление поля ввода при фокусе */
#search .input:focus {
  background-color: #E8E8E8;
  background-position: 0 -29px;
  color: #333;
}

/* оформляем кнопку отправки */
#search .submit {
  width: 37px;
  height: 29px;
  cursor: pointer;

  /* смещаем кнопку влево на собственную ширину,
  ** чтобы она оказалась над полем ввода */
  margin-left: -37px;

  /* по-нормальному, здесь достаточно было бы указать background: none;
  ** но приходится указывать фон из-за бага в IE */
  background: url(dontexist.png);
}

section  {
  position: relative;
  top: 55px;
  width: 65%;
  height:  1000px;
  float: left;
  background-color: pink;
  }

aside  {
  position: relative;
  float: left;
  top: 55px;
  width: 35%;
  height:  1000px;
  background-color: yellow;
  }

footer  {
  position: relative;
  height:  150px;
  width: 100%;
  float: left;
  background-color: lightgreen;
  }
