/* position blocks */
header {
   position: fixed;
   float: left;
   background-color: lightblue;
   height:  70px;
   width: 100%;
   z-index: 4;
   margin-top:   -10px;
 }

 header #lines{
   position: relative;
   height:  70px;
   width: 30px;
   float: left;
   left: 80px;
 }


 header #logo {
   position: relative;
   float: left;
   left: 80px;
}


section  {
  position: relative;
  top: 55px;
  width: 65%;
  height:  1000px;
  float: left;
  background-color: pink;
  }

aside  {
  position: relative;
  float: left;
  top: 55px;
  width: 35%;
  height:  1000px;
  background-color: yellow;
  }

footer  {
  position: relative;
  height:  150px;
  width: 100%;
  float: left;
  background-color: lightgreen;
  }
